langchain
langchain-community
python-dotenv
langchain_openai
langchain-core
streamlit
langchain_groq
faiss-cpu
pypdf
langchain-chroma
langchain-ollama
langchain-huggingface
sentence-transformers
torch
torchvision
